:root{
    --principal: #6fda9f; 
    --secundario: #f1c179;
    --blanco: #fff ;
    --negro: #000000 ;
    --gris: #282d39;
    --principalDM: #1e663f;
    --secundarioDM: #925e09;
}

/* generales */

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: "Fredoka", sans-serif;
    color: rgb(0, 0, 0);
    background-color: var(--blanco);
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
    color: var(--negro);
    cursor: pointer;
}

h1{
    text-align: center;
}

h2{
    font-size: 3rem;
    color: var(--negro);
}

.cabezera{
    width: 100%;
    background-color: var(--gris);
    position: fixed;
    top: 0;
    left: 0;
}

.cabezera h1{
    color: var(--blanco);
}

/* acá se define la navegacion */

.navegacion-principal{
    background-color: var(--secundario);
    margin-top: 3rem;
    margin-bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94%;
}

.navegacion-botones{
    padding: 0.5rem;
    display: flex; 
    flex-direction: column;
    font-weight: bold;
    justify-content: space-between;
    height: 20%;
}

.navegacion-botones a{
    color: var(--blanco);
    font-size: 2.5rem;
}

.modoLectura{
    background-color: var(--blanco);
}

.modoLectura-contenedor{
    display: flex;
    justify-content: space-evenly;
}

.iconos-modo{
    color: var(--negro);
    cursor: pointer;
}

/* este es el contenido fuera de la cabezera y la barra de navegación */

.sinopsis{
    margin-top: 5rem;
    margin-left: 36.2rem;
}

.introduccion{
    background-color: var(--principal);
    padding-top: 1rem;
}

.introduccion h2{
    text-align: center;
    padding-right: 15rem;
    font-size: 4rem;
}

.sinopsis-contenido{
    padding-left: 2rem;
    background-color: var(--blanco);
    font-size: 2.5rem;
}

.sinopsis-contenido h3{
    font-size: 4rem;
}

.boton{
    margin-top: 1rem;
    padding-left: 87rem;
    padding-bottom: 1rem;
}

.boton-lectura{
    padding: 0.5rem 1rem;
    background-color: var(--blanco);
    border-radius: 20%;
    font-weight: bold;
}

.boton-lectura:hover{
    background-color: var(--negro);
    color: var(--blanco);
}

.pie{
    margin-top: 0%;
    background-color: var(--principal);
    margin-left: 0rem;
}
.pie a{
    display: inline;
    font-size: 1rem;
    color: var(--negro);
}

.redes{
    background-color: var(--blanco);
}

.redes h2{
    margin-top: 0;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
}

.contenedor-redes{
    padding-left: 0rem;
    display: flex;
    justify-content: center;
}

.iconosUwU{
    color: var(--blanco);
}

.derechos{
    padding-left: 0rem;
    display: flex;
    justify-content: center;
}

/*---modo oscuro---*/

.navegacion-principalDM{
    background-color: var(--secundarioDM);
    margin-top: 3rem;
    margin-bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94%;
}

.navegacion-botonesDM{
    padding: 0.5rem;
    display: flex; 
    flex-direction: column;
    font-weight: bold;
    justify-content: space-between;
    height: 20%;
}

.navegacion-botonesDM a{
    color: var(--blanco);
    font-size: 2.5rem;
}

.modoLecturaDM{
    background-color: var(--gris);
}

.iconos-modoDM{
    color: var(--blanco);
    cursor: pointer;
}

.introduccionDM{
    background-color: var(--principalDM);
    padding-top: 1rem;;
}

.introduccionDM h2{
    text-align: center;
    padding-left: 0rem;
    font-size: 4rem;
    color: var(--blanco);
}

.sinopsis-contenidoDM{
    padding-left: 2rem;
    background-color: var(--gris);
    color: var(--blanco);
    font-size: 2.5rem;
}

.sinopsis-contenidoDM h3{
    font-size: 4rem;
    color: var(--blanco);
}

.botonDM{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-left: 0rem;
    padding-bottom: 1rem;
}

.pieDM{
     margin-top: 0%;
     margin-left: 36.2rem;
     background-color: var(--principalDM);
     color: var(--blanco);
}
.pieDM a{
    display: inline;
    font-size: 1rem;
    color: var(--blanco);
}

.redesDM{
    background-color: var(--gris);
}

.redesDM h2{
    margin-top: 0;
    font-size: 3.5rem;
    padding-left: 85rem;
    color: var(--blanco);
}

/* media queries */

@media (max-width: 390px){
    .cabezera h1{
        font-size: 2rem;
    }
    .navegacion-principal{
        height: 12rem;
        width: 100%;
        margin-top: 0.03rem;
        text-align: center;
    }

    .navegacion-botones a{
        font-size: 1.8rem;
    }
    .iconos-modo svg{
        width: 2rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    
    .introduccion{
        background-color: var(--principal);
        padding-top: 12rem;
    }

    .introduccion h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 1.7rem;
    }

    .sinopsis-contenido{
        padding-left: 2rem;
        background-color: var(--blanco);
        font-size: 1.5rem;
    }

    .sinopsis-contenido h3{
        font-size: 2rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .pie{
        margin-top: 0%;
        background-color: var(--principal);
        margin-left: 0rem;
    }
    .pie a{
        display: inline;
        font-size: 1rem;
        color: var(--negro);
    }

    .redes h2{
        font-size: 1.7rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }

    .contenedor-redes{
        display: flex;
        justify-content: center;
        padding-left: 0rem;
    }

    .contenedor-redes svg{
        width: 1.5rem;
    }

    .derechos{
        padding-left: 0rem;
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }

    /*---modo oscuro---*/

    .navegacion-principalDM{
        height: 12rem;
        width: 100%;
        margin-top: 0.03rem;
        text-align: center;
    }

    .navegacion-botonesDM a{
        font-size: 1.8rem;
    }
    .iconos-modoDM svg{
        width: 2rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccionDM{
        background-color: var(--principalDM);
        padding-top: 12rem;
    }

    .introduccionDM h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 1.7rem;
    }

    .sinopsis-contenidoDM{
        padding-left: 2rem;
        background-color: var(--gris);
        font-size: 1.5rem;
    }

    .sinopsis-contenidoDM h3{
        font-size: 2rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .botonDM{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .pieDM{
        margin-top: 0%;
        background-color: var(--principalDM);
        margin-left: 0rem;
    }
    .pieDM a{
        display: inline;
        font-size: 1rem;
        color: var(--blanco);
    }

    .redesDM{
        background-color: var(--gris);
    }

    .redesDM h2{
        font-size: 1.7rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }
}

@media (min-width: 391px) and (max-width: 480px) {
    .cabezera h1{
        font-size: 2.5rem;
    }
    .navegacion-principal{
        height: 13rem;
        width: 100%;
        margin-top: 0.03rem;
        text-align: center;
    }

    .navegacion-botones a{
        font-size: 2rem;
    }
    .iconos-modo svg{
        width: 2rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccion{
        background-color: var(--principal);
        padding-top: 13rem;
    }

    .introduccion h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 2rem;
    }

    .sinopsis-contenido{
        padding-left: 2rem;
        background-color: var(--blanco);
        font-size: 1.7rem;
    }

    .sinopsis-contenido h3{
        font-size: 2rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .pie{
        margin-top: 0%;
        background-color: var(--principal);
        margin-left: 0rem;
    }
    .pie a{
        display: inline;
        font-size: 1rem;
        color: var(--negro);
    }

    .redes h2{
        font-size: 1.7rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }

    .contenedor-redes{
        display: flex;
        justify-content: center;
        padding-left: 0rem;
    }

    .contenedor-redes svg{
        width: 1.5rem;
    }

    .derechos{
        padding-left: 0rem;
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
    }

    /*---modo oscuro---*/

    .navegacion-principalDM{
        height: 13rem;
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }

    .navegacion-botonesDM a{
        font-size: 2rem;
    }
    .iconos-modoDM svg{
        width: 2rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccionDM{
        background-color: var(--principalDM);
        padding-top: 13rem;
    }

    .introduccionDM h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 2rem;
    }

    .sinopsis-contenidoDM{
        padding-left: 2rem;
        background-color: var(--gris);
        font-size: 1.7rem;
    }

    .sinopsis-contenidoDM h3{
        font-size: 2rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .botonDM{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .pieDM{
        margin-top: 0%;
        background-color: var(--principalDM);
        margin-left: 0rem;
    }
    .pieDM a{
        display: inline;
        font-size: 1rem;
        color: var(--blanco);
    }

    .redesDM{
        background-color: var(--gris);
    }

    .redesDM h2{
        font-size: 2rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .cabezera h1{
        font-size: 2.7rem;
    }
    .navegacion-principal{
        height: 13rem;
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }

    .navegacion-botones a{
        font-size: 2rem;
    }
    .iconos-modo svg{
        width: 2rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccion{
        background-color: var(--principal);
        padding-top: 13rem;
    }

    .introduccion h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 2rem;
    }

    .sinopsis-contenido{
        padding-left: 2rem;
        background-color: var(--blanco);
        font-size: 1.8rem;
    }

    .sinopsis-contenido h3{
        font-size: 2rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .pie{
        margin-top: 0%;
        background-color: var(--principal);
        margin-left: 0rem;
    }
    .pie a{
        display: inline;
        font-size: 1rem;
        color: var(--negro);
    }

    .redes h2{
        font-size: 2rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }

    .contenedor-redes{
        display: flex;
        justify-content: center;
        padding-left: 0rem;
    }

    .contenedor-redes svg{
        width: 1.5rem;
    }

    .derechos{
        padding-left: 0rem;
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
    }

    /*---modo oscuro---*/

    .navegacion-principalDM{
        height: 13rem;
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }

    .navegacion-botonesDM a{
        font-size: 2rem;
    }
    .iconos-modoDM svg{
        width: 2rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccionDM{
        background-color: var(--principalDM);
        padding-top: 13rem;
    }

    .introduccionDM h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 2rem;
    }

    .sinopsis-contenidoDM{
        padding-left: 2rem;
        background-color: var(--gris);
        font-size: 1.8rem;
    }

    .sinopsis-contenidoDM h3{
        font-size: 2rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .botonDM{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .pieDM{
        margin-top: 0%;
        background-color: var(--principalDM);
        margin-left: 0rem;
    }
    .pieDM a{
        display: inline;
        font-size: 1rem;
        color: var(--blanco);
    }

    .redesDM{
        background-color: var(--gris);
    }

    .redesDM h2{
        font-size: 2rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cabezera h1{
        font-size: 2.7rem;
    }
    .navegacion-principal{
        height: 14rem;
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }

    .navegacion-botones a{
        font-size: 2.1rem;
    }
    .iconos-modo svg{
        width: 2rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccion{
        background-color: var(--principal);
        padding-top: 13rem;
    }

    .introduccion h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 2.5rem;
    }

    .sinopsis-contenido{
        padding-left: 2rem;
        background-color: var(--blanco);
        font-size: 1.9rem;
    }

    .sinopsis-contenido h3{
        font-size: 2.5rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .pie{
        margin-top: 0%;
        background-color: var(--principal);
        margin-left: 0rem;
    }
    .pie a{
        display: inline;
        font-size: 1rem;
        color: var(--negro);
    }

    .redes h2{
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }

    .contenedor-redes{
        display: flex;
        justify-content: center;
        padding-left: 0rem;
    }

    .contenedor-redes svg{
        width: 1.5rem;
    }

    .derechos{
        padding-left: 0rem;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    /*---modo oscuro---*/

    .navegacion-principalDM{
        height: 14rem;
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }

    .navegacion-botonesDM a{
        font-size: 2.1rem;
    }
    .iconos-modoDM svg{
        width: 2rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccionDM{
        background-color: var(--principalDM);
        padding-top: 13rem;
    }

    .introduccionDM h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 2.5rem;
    }

    .sinopsis-contenidoDM{
        padding-left: 2rem;
        background-color: var(--gris);
        font-size: 1.9rem;
    }

    .sinopsis-contenidoDM h3{
        font-size: 2.5rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .botonDM{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .pieDM{
        margin-top: 0%;
        background-color: var(--principalDM);
        margin-left: 0rem;
    }
    .pieDM a{
        display: inline;
        font-size: 2rem;
        color: var(--blanco);
    }

    .redesDM{
        background-color: var(--gris);
    }

    .redesDM h2{
        font-size: 2.8rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    .cabezera h1{
        font-size: 3rem;
    }
    .navegacion-principal{
        height: 7rem;
        width: 100%;
        margin-top: 2.5rem;
        text-align: center;
    }

    .navegacion-botones{
        flex-direction: row;
        justify-content: space-around;
    }

    .navegacion-botones a{
        font-size: 2.4rem;
    }
    .iconos-modo svg{
        width: 2rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccion{
        background-color: var(--principal);
        padding-top: 9rem;
    }

    .introduccion h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 2.8rem;
    }

    .sinopsis-contenido{
        padding-left: 2rem;
        background-color: var(--blanco);
        font-size: 2.2rem;
    }

    .sinopsis-contenido h3{
        font-size: 2.8rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .pie{
        margin-top: 0%;
        background-color: var(--principal);
        margin-left: 0rem;
    }
    .pie a{
        display: inline;
        font-size: 1rem;
        color: var(--negro);
    }

    .redes h2{
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }

    .contenedor-redes{
        display: flex;
        justify-content: center;
        padding-left: 0rem;
    }

    .contenedor-redes svg{
        width: 2rem;
    }

    .derechos{
        padding-left: 0rem;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    /*---modo oscuro---*/

    .navegacion-principalDM{
        height: 7rem;
        width: 100%;
        margin-top: 2.5rem;
        text-align: center;
    }

    .navegacion-botonesDM{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navegacion-botonesDM a{
        font-size: 2.4rem;
    }
    .iconos-modoDM svg{
        width: 2rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccionDM{
        background-color: var(--principalDM);
        padding-top: 9rem;
    }

    .introduccionDM h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 2.8rem;
    }

    .sinopsis-contenidoDM{
        padding-left: 2rem;
        background-color: var(--gris);
        font-size: 2.2rem;
    }

    .sinopsis-contenidoDM h3{
        font-size: 2.8rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .botonDM{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .pieDM{
        margin-top: 0%;
        background-color: var(--principalDM);
        margin-left: 0rem;
    }
    .pieDM a{
        display: inline;
        font-size: 2rem;
        color: var(--blanco);
    }

    .redesDM{
        background-color: var(--gris);
    }

    .redesDM h2{
        font-size: 2.8rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }
}

@media (min-width: 1367px) and (max-width: 1920px) {
    .cabezera h1{
        font-size: 3.5rem;
    }
    .navegacion-principal{
        height: 8.5rem;
        width: 100%;
        margin-top: 2.5rem;
        text-align: center;
    }

    .navegacion-botones{
        flex-direction: row;
        justify-content: space-around;
    }

    .navegacion-botones a{
        font-size: 3.2rem;
    }
    .iconos-modo svg{
        width: 2.5rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccion{
        background-color: var(--principal);
        padding-top: 10.5rem;
    }

    .introduccion h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 3rem;
    }

    .sinopsis-contenido{
        padding-left: 2rem;
        background-color: var(--blanco);
        font-size: 2.4rem;
    }

    .sinopsis-contenido h3{
        font-size: 3rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .pie{
        margin-top: 0%;
        background-color: var(--principal);
        margin-left: 0rem;
    }
    .pie a{
        display: inline;
        font-size: 2rem;
        color: var(--negro);
    }

    .redes h2{
        font-size: 3rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }

    .contenedor-redes{
        display: flex;
        justify-content: center;
        padding-left: 0rem;
    }

    .contenedor-redes svg{
        width: 2rem;
    }

    .derechos{
        padding-left: 0rem;
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
    }

    /*---modo oscuro---*/

    .navegacion-principalDM{
        height: 8.5rem;
        width: 100%;
        margin-top: 2.5rem;
        text-align: center;
    }

    .navegacion-botonesDM{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navegacion-botonesDM a{
        font-size: 3.2rem;
    }
    .iconos-modoDM svg{
        width: 2.5rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccionDM{
        background-color: var(--principalDM);
        padding-top: 10.5rem;
    }

    .introduccionDM h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 3rem;
    }

    .sinopsis-contenidoDM{
        padding-left: 2rem;
        background-color: var(--gris);
        font-size: 2.4rem;
    }

    .sinopsis-contenidoDM h3{
        font-size: 3rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .botonDM{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .pieDM{
        margin-top: 0%;
        background-color: var(--principalDM);
        margin-left: 0rem;
    }
    .pieDM a{
        display: inline;
        font-size: 2rem;
        color: var(--blanco);
    }

    .redesDM{
        background-color: var(--gris);
    }

    .redesDM h2{
        font-size: 3rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }
}

@media (min-width: 1921px) and (max-width: 2560px) {
    .cabezera h1{
        font-size: 4rem;
    }
    .navegacion-principal{
        height: 9rem;
        width: 100%;
        margin-top: 4rem;
        text-align: center;
    }

    .navegacion-botones{
        flex-direction: row;
        justify-content: space-around;
    }

    .navegacion-botones a{
        font-size: 3.8rem;
    }
    .iconos-modo svg{
        width: 2.5rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccion{
        background-color: var(--principal);
        padding-top: 12rem;
    }

    .introduccion h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 3.5rem;
    }

    .sinopsis-contenido{
        padding-left: 2rem;
        background-color: var(--blanco);
        font-size: 2.8rem;
    }

    .sinopsis-contenido h3{
        font-size: 3.5rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .pie{
        margin-top: 0%;
        background-color: var(--principal);
        margin-left: 0rem;
    }
    .pie a{
        display: inline;
        font-size: 2rem;
        color: var(--negro);
    }

    .redes h2{
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }

    .contenedor-redes{
        display: flex;
        justify-content: center;
        padding-left: 0rem;
    }

    .contenedor-redes svg{
        width: 2.5rem;
    }

    .derechos{
        padding-left: 0rem;
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
    }

    /*---modo oscuro---*/

    .navegacion-principalDM{
        height: 9rem;
        width: 100%;
        margin-top: 4rem;
        text-align: center;
    }

    .navegacion-botonesDM{
        flex-direction: row;
        justify-content: space-around;
    }

    .navegacion-botonesDM a{
        font-size: 3.8rem;
    }
    .iconos-modoDM svg{
        width: 2.5rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccionDM{
        background-color: var(--principalDM);
        padding-top: 12rem;
    }

    .introduccionDM h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 3.5rem;
    }

    .sinopsis-contenidoDM{
        padding-left: 2rem;
        background-color: var(--gris);
        font-size: 2.8rem;
    }

    .sinopsis-contenidoDM h3{
        font-size: 3.5rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .botonDM{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .pieDM{
        margin-top: 0%;
        background-color: var(--principalDM);
        margin-left: 0rem;
    }
    .pieDM a{
        display: inline;
        font-size: 2rem;
        color: var(--blanco);
    }

    .redesDM{
        background-color: var(--gris);
    }

    .redesDM h2{
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }
}

@media (mind-width: 2561){
    .cabezera h1{
        font-size: 4rem;
    }
    .navegacion-principal{
        height: 9rem;
        width: 100%;
        margin-top: 4rem;
        text-align: center;
    }

    .navegacion-botones{
        flex-direction: row;
        justify-content: space-around;
    }

    .navegacion-botones a{
        font-size: 3.8rem;
    }
    .iconos-modo svg{
        width: 2.5rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccion{
        background-color: var(--principal);
        padding-top: 12rem;
    }

    .introduccion h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 3.5rem;
    }

    .sinopsis-contenido{
        padding-left: 2rem;
        background-color: var(--blanco);
        font-size: 2.8rem;
    }

    .sinopsis-contenido h3{
        font-size: 3.5rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .pie{
        margin-top: 0%;
        background-color: var(--principal);
        margin-left: 0rem;
    }
    .pie a{
        display: inline;
        font-size: 2rem;
        color: var(--negro);
    }

    .redes h2{
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }

    .contenedor-redes{
        display: flex;
        justify-content: center;
        padding-left: 0rem;
    }

    .contenedor-redes svg{
        width: 2.5rem;
    }

    .derechos{
        padding-left: 0rem;
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
    }

    /*---modo oscuro---*/

    .navegacion-principalDM{
        height: 9rem;
        width: 100%;
        margin-top: 4rem;
        text-align: center;
    }

    .navegacion-botonesDM{
        flex-direction: row;
        justify-content: space-around;
    }

    .navegacion-botonesDM a{
        font-size: 3.8rem;
    }
    .iconos-modoDM svg{
        width: 2.5rem;
    }

    .sinopsis{
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .introduccionDM{
        background-color: var(--principalDM);
        padding-top: 12rem;
    }

    .introduccionDM h2{
        text-align: center;
        padding-right: 0rem;
        font-size: 3.5rem;
    }

    .sinopsis-contenidoDM{
        padding-left: 2rem;
        background-color: var(--gris);
        font-size: 2.8rem;
    }

    .sinopsis-contenidoDM h3{
        font-size: 3.5rem;
        margin: 0rem;
    }

    .boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .boton-lectura{
        padding: 0.5rem 1rem;
        background-color: var(--blanco);
        border-radius: 20%;
        font-weight: bold;
    }

    .botonDM{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }

    .pieDM{
        margin-top: 0%;
        background-color: var(--principalDM);
        margin-left: 0rem;
    }
    .pieDM a{
        display: inline;
        font-size: 2rem;
        color: var(--blanco);
    }

    .redesDM{
        background-color: var(--gris);
    }

    .redesDM h2{
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }
}